/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


.toast-top-right {
  top: 10px !important;
  right: 12px !important;
  position: fixed;
  min-width: 100px;
}
